
<div class="status-section">
    <h2>Order Status</h2>
    <ul class="stepper">
        <li class="step done">
            <div class="item">
                Order Placed
            </div>
        </li>
        <li class="step current">
            <div class="item">
                Shipping
            </div>
        </li>
        <li class="step ready">
            <div class="item">
                Delivered
            </div>
        </li>
    </ul>
</div>

<link href="~/css/status.css" rel="stylesheet" type="text/css" asp-append-version="true" />
