

<div class="order-status-container">
    <h2>Order Status</h2>
    <div class="tracking-progress-bar">
        <ul class="row">
            <li class="col done">Order Placed</li>
            <li class="col current">Picked Up</li>
            <li class="col">Shipping</li>
            <li class="col">Deliverd</li>
        </ul>
    </div>
</div>