<div class="tracking-details">
    <h2>Tracking Details</h2>
    <ul class="timeline">
        <li class="event">
            <div class="event-time">
                <p>September 25 3:33</p>
            </div>
            <div class="event-details">
                <h3>Out for Delivery</h3>
                <p>LEH PH will attempt parcel delivery within the day. Keep your lines open and prepare exact payment.</p>
            </div>
        </li>

        <li class="event">
            <div class="event-time">
                <p>September 25 3:33</p>
            </div>
            <div class="event-details">
                <h3>Out for Delivery</h3>
                <p>LEH PH will attempt parcel delivery within the day. Keep your lines open and prepare exact payment.</p>
            </div>
        </li>

        <li class="event">
            <div class="event-time">
                <p>September 25 3:33</p>
            </div>
            <div class="event-details">
                <h3>Out for Delivery</h3>
                <p>LEH PH will attempt parcel delivery within the day. Keep your lines open and prepare exact payment.</p>
            </div>
        </li>

        <li class="event">
            <div class="event-time">
                <p>September 25 3:33</p>
            </div>
            <div class="event-details">
                <h3>Out for Delivery</h3>
                <p>LEH PH will attempt parcel delivery within the day. Keep your lines open and prepare exact payment.</p>
            </div>
        </li>

        <li class="event">
            <div class="event-time">
                <p>September 25 3:33</p>
            </div>
            <div class="event-details">
                <h3>Out for Delivery</h3>
                <p>LEH PH will attempt parcel delivery within the day. Keep your lines open and prepare exact payment.</p>
            </div>
        </li>
    </ul>
</div>

<link href="~/css/track-detail.css" rel="stylesheet" type="text/css" asp-append-version="true" />