.tracking-container {
  padding: 20px 20px 0 20px;
}

.header-container {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo-title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo-title h1 {
  font-family: "Inter", sans-serif;
  font-size: 28px;
  line-height: 42px;
  font-weight: 700;
  color: #000000ff;
  text-wrap: nowrap;
}

.img-container {
  height: 36px;
  flex-shrink: 0;
}

.img-container img {
  height: 100%;
}

.search-bar {
  display: flex;
  flex-grow: 1;
  justify-content: end;
  gap: 10px;
}

.search-input {
  flex-grow: 1;
  max-width: 400px;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #ddd;
  outline: none;
  transition: border-color 0.3s ease;
}

.search-input:focus {
  border-color: #5f63f2;
}

.search-btn {
  background-color: #5f63f2;
  color: white;
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-btn i {
  margin-right: 5px;
}

.search-btn:hover {
  background-color: #4e54c8;
}

@media (max-width: 740px) {
  .logo-title h1 {
    font-size: 20px;
  }

  .search-bar {
    gap: 5px;
    font-size: 10px;
  }
}

@media (max-width: 640px) {
  .tracking-container {
    padding: 15px 15px 0 15px;
  }

  .header-container {
    flex-direction: column;
    gap: 10px;
  }

  .logo-title {
    gap: 10px;
  }

  .search-bar {
    align-self: stretch;
    justify-content: center;
  }
}
