@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
  color: #b94a48;
}

.field-validation-valid {
  display: none;
}

input.input-validation-error {
  border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
  border: 0 none;
}

.validation-summary-errors {
  color: #b94a48;
}

.validation-summary-valid {
  display: none;
}

p {
  margin: 0;
}

.section {
  padding: 0 50px;
}

.info-section-flex {
  display: flex;
  justify-content: space-around;
}

.info-label {
  font-family: "Archivo", sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
}

.info-section-flex {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #000000ff;
}

.copy-button {
  background-color: #636ae8ff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 6px 12px;

  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.copy-button:hover {
  background: #4850e4ff;
}

.copy-button:hover:active {
  background: #2c35e0ff;
}

.copy-button:disabled {
  opacity: 0.4;
}

.copy-icon svg {
  width: 16px;
  height: auto;
}

.copy-text {
  margin-left: 6px;
}

.address-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.parcel-info {
  margin-top: 20px;
}

.deliverer-image {
  vertical-align: middle;
  width: 80px;
  height: auto;
  border-radius: 50%;
}
