.tracking-details-container {
  margin-bottom: 20px;
}

.tracking-details-container h2 {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 48px;
  font-weight: 700;
  color: #171a1fff;
}

.order-info {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: #6f7787ff;
}

.order-status-container {
  background: #e9ecef;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.status-header {
  padding: 20px 0;
}

.status-info-container {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 44px;
  transform: translateX(-20px);
}

.status-icon {
  width: 90px;
  height: 90px;
  background-color: #626ed4;
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status-icon i {
  font-size: 50px; /* Proportional icon size inside the circle */
  color: white;
}

.status-icon-flipped i {
  transform: scaleX(-1);
}

.status-info h3 {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 35px;
  font-weight: 700;
  color: #171a1fff;
  margin-bottom: 10px;
}

.status-info p {
  font-family: "Inter", sans-serif; /* Heading */
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #171a1fff;
}

.delivery-details {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 25px;
  padding: 29px 15px;
  margin: 0 44px;
  border-top: 1px solid #9095a1ff;
}

.detail-panel {
  display: flex;
  gap: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #171a1fff;
}

.detail-panel .label {
  font-weight: 700;
}

.detail-panel .value {
  font-weight: 400;
}

@media (max-width: 970px) {
  .order-status-container {
    margin-left: 10px;
  }
}

@media (max-width: 767px) {
  .delivery-details {
    margin: 0 22px;
  }

  .status-info-container {
    gap: 22px;
  }
}

@media (max-width: 460px) {
  .detail-panel {
    flex-direction: column;
    gap: 10px;
  }

  .tracking-details-container h2 {
    font-size: 25px;
    line-height: 35px;
  }

  .status-info h3 {
    font-size: 25px;
    line-height: 30px;
  }
}
