body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.tracking-details {
  background: white;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
}

.timeline {
  list-style: none;
  padding: 5px;
  margin-left: 10px;
  position: relative;
  background-color: white;
}

.event {
  position: relative;
  margin-bottom: 10px;
  padding-left: 50px;
}

.event-time {
  position: absolute;
  left: 0;
  top: 50%;
  font-size: 15px;
  color: white;
  width: 120px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  /*background-color: green; */
}

.event-details {
  margin-left: 70px;
  padding: 5px;
  background: #e9ecef; /* Light background for details */
  border-radius: 5px; /* Rounded corners for details */
}

.event-time {
  font-weight: bold;
  color: #555; /* Slightly muted color */
}
