body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.track-details-section {
/*    background: white;*/
    padding: 20px; /* Reduced padding */
    border-radius: 5px;
/*    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);*/
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tracking-details {
    width: 70%;
    margin: 0 auto;
    text-align: left;
}

h2 {
    font-family: "Archivo", sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
}

.timeline {
    list-style: none;
    padding: 0;
    margin: 0;
/*    background-color: white;*/
}

.event {
    position: relative;
    display: flex;
    margin-bottom: 10px; /* Reduced margin for a more compact appearance */
    padding: 8px 0; /* Reduced padding */
}

.event-time {
    flex: 0 0 150px; /* Adjusted width to balance time and details */
    font-size: 16px; /* Reduced font size */
    font-weight: bold;
    color: #555;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.event-details {
    flex: 1;
    padding: 8px; /* Reduced padding */
    background: #e9ecef;
    border-radius: 5px;
}

    .event-details h3 {
        margin: 0 8px 8px; /* Reduced margin */
        font-size: 16px; /* Reduced font size */
    }

    .event-details p {
        margin: 0;
        margin-left: 20px; /* Reduced indent */
        font-size: 14px; /* Reduced font size */
    }

@media (max-width: 820px) {
    .tracking-details{
        width: 100%;
    }
    .event-time {
        flex: 0 0 120px; /* Adjusted width for smaller screens */
    }

    .event-details h3 {
        margin: 0 0px 8px;
        font-size: 16px; /* Keep smaller font on mobile */
    }

    .event-details p {
        margin: 0;
        margin-left: 10px; /* Less margin for smaller screens */
        font-size: 14px;
    }
}
