<div class="order-info-container">
    <div class="tracking-details-container">
        <h2>Tracking Details</h2>
        <p class="order-info">Parcel ID: 586789963</p>
    </div>

    <div class="order-status-container">
        <div class="status-header">
            <div class="status-icon status-icon-flipped">
                <i class="bi bi-truck"></i>
            </div>
            <div class="status-info">
                <h3>Deliver to you</h3>
                <p>Tue, March 6, 2024 at 6:18 PM</p>
            </div>
        </div>
        
        <hr />

        <div class="delivery-details">
            <div class="from">
                <p><strong>From:</strong> LAS VEGAS, NV 89120 UNITED STATES</p>
            </div>
            <div class="to">
                <p><strong>To:</strong> ALFREDTON, VIC 3350 AUSTRALIA</p>
            </div>
        </div>
    </div>    
</div>
