.order-info-container {
    /*    display: flex;*/
    padding: 20px;
    width: 60%;
    margin: 10px auto;
    font-family: Archivo; /* Heading */
}

.tracking-details-container{
    margin-bottom: 20px;
}

.tracking-details-container h2 {
    font-family: Archivo; /* Heading */
    font-size: 32px;
    line-height: 48px;
    font-weight: 700;
    color: #171A1FFF; /* neutral-900 */
    margin: 0;
}

.order-info {
    font-family: Inter; /* Body */
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: #6E7787FF; /* neutral-550 */
    margin: 10px 0;
}

.order-status-container {
    display: flex;
    flex-direction: column;
    background: #e9ecef; /* neutral-200 */
    border-radius: 6px; /* border-m */
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: auto;
    position: relative; /* To position icon outside */
    width: 100%;
}

.status-header {
    display: flex;
    align-items: center;
}

.status-icon {
    width: 80px; /* Made the icon larger */
    height: 80px;
    margin-right: 16px;
    background-color: #626ed4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -20px; /* Positioning it outside the box */
}

    .status-icon i {
        font-size: 35px; /* Made the icon larger inside */
        color: white;
    }

.status-info {
    margin-left: 60px; /* Adjusted margin to compensate for larger icon */
}

    .status-info h3 {
        margin: 0;
        font-size: 32px;
        font-weight: bold;
        color: #333;
    }

    .status-info p {
        margin: 4px 0 0;
        font-size: 16px;
        color: #666;
    }

hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 16px 0;
}

.delivery-details {
    display: flex;
    justify-content: space-between;
}

    .delivery-details .from, .delivery-details .to {
        font-size: 14px;
        color: #333;
        margin-right: 10px;
    }

    .delivery-details strong {
        font-weight: bold;
        color: #333;
        margin-left: 10px;
        margin-right: 20px;
    }
