<div class="timeline-wrapper">
  <div class="title-wrapper">
    <h2>Delivery Details</h2>
  </div>

  <div class="stepper-wrapper">
    <ol class="stepper">
      <li class="stepper__item active">
        <div class="stepper__label">
          <div class="stepper__icon">
            <i class="bi bi-clock"></i>
          </div>
          <h3 class="stepper__title">06 Mar</h3>
        </div>

        <div class="stepper__content">
          <p class="stepper__heading">Deliver to you</p>
          <p class="stepper__desc">Fugiat aliqua et aute consequat quis ea adipisicing</p>
        </div>
      </li>
      <li class="stepper__item">
        <div class="stepper__label">
          <div class="stepper__icon">
            <i class="bi bi-truck"></i>
          </div>
          <h3 class="stepper__title">05 Mar</h3>
        </div>

        <div class="stepper__content">
          <p class="stepper__heading">Being delivered</p>
          <p class="stepper__desc">Nulla exercitation sit excepteur veniam ad irure ut id voluptate</p>
        </div>
      </li>
      <li class="stepper__item">
        <div class="stepper__label">
          <div class="stepper__icon">
            <i class="bi bi-geo-alt"></i>
          </div>
          <h3 class="stepper__title">05 Mar</h3>
        </div>

        <div class="stepper__content">
          <p class="stepper__heading">At the transit center</p>
          <p class="stepper__desc">Exercitation voluptate eiusmod qui irure dolore pariatur</p>
        </div>
      </li>
      <li class="stepper__item">
        <div class="stepper__label">
          <div class="stepper__icon">
            <i class="bi bi-box-seam"></i>
          </div>
          <h3 class="stepper__title">04 Mar</h3>
        </div>

        <div class="stepper__content">
          <p class="stepper__heading">Packed</p>
          <p class="stepper__desc">Consectetur amet in excepteur mollit velit tempor pariatur fugiat culpa sit tempor</p>
        </div>
      </li>
    </ol>
  </div>
</div>