@page
@{
    ViewData["Title"] = "Error";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/error.css" />
}
<div class="error-container">
    <div class="error-content">
        <div class="icon-circle">
            <img src="~/images/material-search-off.svg" alt="Magnifying Glass with X" class="icon-img">
        </div>
        <h3>Oops! Your item is not found</h3>
        <p class="small-info">No information for this Parcel ID at the moment</p>
        <a href="/" class="btn-home">Go Back Home</a>
    </div>
</div>

