@page
@{
    ViewData["Title"] = "Not Found";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/error.css" />
}

<div class="error-container">
    <div class="error-content">
        <h1>404</h1>
        <h3>Oops! Your Item is not found. </h3>
        <p class="small-info">No information for this parcel ID at the moment.</p>
        <a href="/" class="btn-home">Go Back Home</a>
    </div>
</div>
