@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    <div class="container">
        <h1>Delivery Tracker</h1>
        <!-- Render Parcel Info -->
        <div class="section status-section">
            <partial name="Partials/_Status" />
        </div>

        <div class="section info-section">
            <partial name="Partials/_InfoPanels" />
        </div>

        <div class="section track-details-section">
            <partial name="Partials/_TrackDetails" />
        </div>
    </div>
    
}
